# ASSIGNMENT CLASS 3

# 1.Indexing (part 1)

In [34]:
employee_data = ['Ali', 125000, 'Google', 5]
print (employee_data[0],"is working in",employee_data[2],"for",employee_data[3],"years and his salary is",employee_data[1])

Ali is working in Google for 5 years and his salary is 125000

In [40]:
msg = """'{name} is working in {company} for {experience} years and his salary is {salary}'"""

In [41]:
print(msg.format(name=employee_data[0],company=employee_data[2],experience=employee_data[3],salary=employee_data[1]))

'Ali is working in Google for 5 years and his salary is 125000'

In [53]:
msg = """{} is working in {} for {} years and his salary is {}"""

In [54]:
msg.format(employee_data[0] , employee_data[2] , employee_data[3] , employee_data[1])

'Ali is working in Google for 5 years and his salary is 125000'

# 2.Indexing (part 2)

In [55]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']

In [65]:
msg= """ 
'Hello {} {},
Your application is accepted for admission in "{} {}" in {}.
You have to submit fee {} before {}.
Your classes will start from {}.
Thanks'"""

In [66]:
print(msg.format(studentData[0],studentData[1],studentData[4],studentData[3],studentData[2],studentData[5],studentData[6],studentData[7]))

'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks'

# Slicing

In [67]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [68]:
cities[0:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [69]:
cities [2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [71]:
cities [5:9]

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [76]:
cities [-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [77]:
cities [-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Update List

In [78]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [79]:
studentData.append('20 February 2019')
studentData.append(8)

In [83]:
print (studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [84]:
studentData.insert(4,25000)
studentData.insert(1,"M. Iqbal")

In [85]:
print (studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [86]:
studentData[0] = "Zohaib Ali"
studentData[6] = 7
print (studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [87]:
studentData.remove('Computer Science')
studentData.remove(91.24)
print (studentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [88]:
studentData.pop(-1)
studentData.pop(3)
print (studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# Multidimensional list tasks

In [89]:
employeeData = [["Ali", 35000, "Software Engineer"],["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"],["Khalid", 44000, "DBA"]]

In [94]:
name_salary_greater_50k = []
for A in employeeData :
    salary = A[1]
    if salary > 50000:
         name_salary_greater_50k.append([A[0],A[1]])
name_salary_greater_50k

[['Talha', 55000], ['Nasir', 79000]]

In [95]:
total_salary = 0
for b in employeeData:
    total_salary += b[1]
total_salary

213000

In [100]:
for c in employeeData:
    if c[1]== 79000:
        c[1]= 90000
    if c[2]== "Computer Engineer":
        c[2]= "Product Manager"
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 44000, 'DBA']]

In [101]:
for d in employeeData:
    if d[1]== 44000:
        d[1]= 50000
print (employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 50000, 'DBA']]

In [114]:
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [115]:
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print ("Login Succeed")
    else:
            print ("Email not verified")
else:
    print("Incorrect Login details")

Email not verified

In [116]:
username = "faizan1214"
password = "qwerty"
emailVerified = True
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print ("Login Succeed")
    else:
            print ("Email not verified")
else:
    print("Incorrect Login details")

Login Succeed